{% extends "base.html" %}

{% block content %}
Welcome, {{ user.username }}!

    <div id="personaldone">
        <div id="profiletitle">
                <a href="/users/profile/"><div class="menu">My Profile</div></a>
                <a href="/users/currentlessons/"><div class="menu">Lessons in Progress</div></a>
                <a href="/users/completedcourses/"><div class="menuactive">Completed Courses</div></a>
        </div>              
        
        <!--begin block-->
        <div class="doneblock">
            <div class="medal"><img src="{{ STATIC_URL }}images/goldmedal.png" /></div> <!--or img src="{{ STATIC_URL }}images/silvermedal.png" /> -->
            <div class="image"><img src="images/blocks/{{ course.number }}.png" width="100%" height="100%" /></div>
            <p class="title">{{ course.title }}</p>
            <p class="instructor">{{ course.instructor }} ({{ course.affiliation }})</p>
            <p class="date">{{ course.startdate }}</p>
            <p class="certificate"><a href="#">View Certificate</a></p>
        </div>
        <!--endblock -->   
        
	</div>

{% endblock %}
