{% extends "base.html" %}
{% load filters %}

{% block content %}
        <div id="coursecontent">
        	<div id="coursenighttitle">
            	<div class="search"></div><br />
            	<a href="/course/{{ course_id }}/info/"><div class="menu">Course Info</div></a> <!--link to this current page -->
            	
            	{% mkrange 1 4 as nights %}
            	
            	<!--link to night 1; if course hasn't been added yet, have a 
            		pop-up box that prompts if they want to add course to 
            		their personal page-->
            	{% for i in nights %}
            		<a href="/course/{{ course_id }}/{{ i }}/1/">
            		{% if night == i %}
            			<div class="menuactive">
            		{% else %}
            			<div class="menu">
            		{% endif %}
					Night {{ i }}</div></a>
            	{% endfor %}
                
                <a href="#"><div class="menu">Discussion</div></a> <!--link to discussion for this course only; same logic as above-->
            </div>
            <div id="coursemain">
                <div id="coursevideo">
                	<!--imbed video here-->
                </div>
                
              
            </div>
            
        </div>
{% endblock %}
