{% extends "base.html" %}

{% block content %}
        
        <div id="aboutcontent">
        	<div id="abouttitle">
            	<div class="search"></div><br />
                <a href="/about/"><div class="menuactive">What is 3ND?</div></a>
                <a href="/difference/"><div class="menu">How is 3ND DIfferent?</div></a>
                <a href="/team/"><div class="menu">About the Team</div></a>
                <a href="#"><div class="menu">Contact Us</div></a>
          	</div>
        	<br />
            <div id="aboutmain">
                <h2>About 3 Nights and Done</h2>
    
                <p>It's free. It's non-profit. It makes learning fun for people of all ages.</p>
                
                <p><span style="color: #F60"> You watch 1 hour of educational material each night, and in 3 nights' time it's done.</span> Simple as that. You will get a sense of accomplishment instantly over say a weekend.</p>
                
                <p>What can you learn in 3 nights? A lot! All our 3ND courses are practical questions that you want to know the answers for, ranging from how the Internet works to how hair grows on heads, from how to finance a startup to how to watch baseball games like a pro.</p>
                
                <p>You will get:
                    <ol>
                        <li><span style="color: #F60">video lectures</span> by the most articulate world-renowned experts who donated their time to this non-profit education charity, all in 10-15 minute modules </li>
                        <li><span style="color: #F60">instant feedback</span> through a multiple choice question at the end of each module</li>
                        <li><span style="color: #F60">social learning</span> through a discussion forum and wiki</li>
                    </ol>
                </p>
                
                <p>If you can answer 80% or more of the multiple choice quiz questions, you will also receive an instructor-signed Certificate of Completion.</p>
                
                <p>So, if you're wondering, 
                	<ul>
                    	<li>"How can we make online learning completion rate higher?"</li> 
                        <li>"Why must online courses be based on university calendars in a semester-long format?"</li>
                        <li>"Why must knowledge be packaged in courses of weeks and months and start with a textbook?" </li>
                    </ul>
                   <span style="color: #F60">then join 3ND today and discover the joy of learning something fun, one weekend at a time.</span></p>
                
                <p>Each 3ND is about the length of a long movie, but there's no charge for tickets or popcorn. Like movies, however, we release a couple of new courses each Thursday, so that you can pick that up right here for your Friday, Saturday, and Sunday evenings. Or any other day. We start with 4 courses on January 2013, and many more to come throughout its launching year.</p>
                
                <!--<p>You can vote to create new courses on your favorite topics, too! Just hit the vote button on the homepage.</p>
                
                <p>Cool features, like virtual office hours and study-buddy recommendations, will be coming to the 3ND platform soon as well.</p>-->
                
                <p>So sit back, relax, and enjoy! Before you get to say "This is too much for me," you'll say, "I can do this!"</p>
            </div>
        </div>

{% endblock %}

