{% extends "base.html" %}

{% block content %}
        
        <div id="aboutcontent">
        	<div id="abouttitle">
            	<div class="search"></div><br />
                <a href="#"><div class="menuactive">What is 3ND?</div></a>
                <a href="#"><div class="menu"></div>About the Team</a>
                <a href="#"><div class="menu"></div>Contact Us</a>
          	</div>
        	<br />
            <div id="aboutmain">
                <h2>About 3 Nights and Done</h2>
                <h3>3ND stands for "3 Nights and Done."</h3>
    
                <p>It's free. It's non-profit. It won't sell your student activity records. It makes learning fun for people of all ages.</p>
                
                <p>You watch 1 hour of educational material each night, and in 3 nights' time it's done. Simple as that. You will get a sense of accomplishment instantly over say a weekend.</p>
                
                <p>What can you learn in 3 nights? A lot! All our 3ND units are practical questions that you want to know the answers for, ranging from how the Internet works to how hair grows on heads, from how to finance a startup to how to watch baseball games like a pro.</p>
                
                <p>We have:
                    <ol>
                        <li>video lectures by the most articulate world-renowned experts who donated their time to this non-profit education charity, all in 10-15 minute modules </li>
                        <li>instant feedback through a multiple choice question at the end of each module</li>
                        <li>social learning through a discussion forum and wiki</li>
                    </ol>
                </p>
                
                <p>If you can answer 80% or more of the multiple choice quiz questions (you have two attempts at each question), you will also receive a signed Certificate of Completion.</p>
                
                <p>If you contribute to the forum and wiki actively, you will get a share of the sales revenue when that 3ND content gets packaged into a digital book that will sell for $1.99 as a tablet app.</p>
                
                <p>So, if you're wondering, "How can we make online learning completion rate higher?" or "Why must online courses be based on university calendars in a semester-long format?" or "Why must knowledge be packaged in units of weeks and months and start with a textbook?" then join 3ND today and discover the joy of learning something fun, one weekend at a time.</p>
                
                <p>Each 3ND is about the length of a long movie, but there's a fee for tickets or popcorn. Like movies, however, we release a couple of new units each Thursday, so that you can pick that up right here for your Friday, Saturday, and Sunday evenings. Or any other day. We start with 4 units on January 3, 2013, and many more to come throughout its launching year.</p>
                
                <p>You can vote to create new units on your favorite topics, too! Just hit the vote button on the homepage.</p>
                
                <p>Cool features, like virtual office hours and study-buddy recommendations, will be coming to the 3ND platform soon as well.</p>
                
                <p>So sit back, relax, and enjoy! Before you get to say "This is too much for me," you'll say, "I can do this!"</p>
            </div>
        </div>

{% endblock %}

