<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}javascript.js"></script>

		<title>3ND</title>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="{{ STATIC_URL }}images/logo.png" /></a>
				</div>

				<div id="nav">
                    <div class="navtitle"><a href="/courselist/">Courses</a></div>		<!--change the class to "navactive" for the course list page-->
                    <div class="navtitle"><a href="/personalpage/">My Page</a></div>		<!--change the class to "navactive" for the personal page-->
                </div>

				<div id="login">
					{% if user.is_authenticated %}
					{{ user.username }} &nbsp; &#124; &nbsp; <a href="/users/logout/">Logout</a>
					{% else %}
					<a href="/users/register/">Register</a>&nbsp; &#124; &nbsp; <a href="/users/login/">Login</a>
					{% endif %}
				</div>
			</div>
			
			{% block content %}
			
			<div id="content">
				<div id="indexleft">
					<a href="/about/"><img src="{{ STATIC_URL }}images/about3ndbutton.png" /></a>
					<img src="{{ STATIC_URL }}images/flowchart.png" />
					<br />
					<a href="/users/register/"><img src="{{ STATIC_URL }}images/startnowbutton.png" /></a>
				</div>
				<div id="indexvideos">
					<div class="block"><img src="{{ STATIC_URL }}images/blocks/howtheinternetworks.png" width="100%" height="100%"/>
					</div>
					<div class="block1"><img src="{{ STATIC_URL }}images/blocks/inventiontoventure.png" width="100%" height="100%"/>
					</div>
					<div class="block1"><img src="{{ STATIC_URL }}images/blocks/whatisdsl.png" width="100%" height="100%"/>
					</div>
					<div class="block1"><img src="{{ STATIC_URL }}images/blocks/americasquestforuniversalbroadbandservices.png" width="100%" height="100%"/>
					</div>
					<div class="block"></div>
					<div class="block"></div>

				</div>

				<div id="indexpagescroll">
					scroll
				</div>
			</div>
			
			{% endblock %}
			
		</div>
		{% block footer %}
		<div id="footer">
        <div class="footertext"><img src="{{ STATIC_URL }}images/footerlogo.png" /></div>
        <div class="footertext">
        	<a href="#">Terms of Use </a><br />
        	<a href="#">Contact</a><br />
        	<a href="/about/">About</a><br />
        </div>
        <div class="footertext"></div>
    </div>
		{% endblock %}
	</body>
</html>
