{% extends "base.html" %}

{% block content %}
        <div id="coursecontent">
        	<div id="coursenighttitle">
            	<div class="search"></div><br />
            	<a href="#"><div class="menuactive">Night 1</div></a>
                <a href="#"><div class="menu">Night 2</div></a>
                <a href="#"><div class="menu">Night 3</div></a>
            </div>
            <div id="coursemain">
                <div id="coursevideo">
                </div>
                
                <div id="coursedescription">
                    <div class="topic">
                        <div class="title">
                            <h3>Title</h3>
                        </div>
                        <div class="info">
                            <p>Description here</p>
						</div>
                        <div class="more"><p style="text-align:right"><a href="#">More</a></p></div>
                   </div>
                    
                    <div class="author">
                    	<div class="title">
                        	<h3>Author</h3>
                        </div>
                        <div class="info">
                        	<p>Description here</p>
                   		</div>
                        <div class="more"><p style="text-align:right"><a href="#">More</a></p></div>
                    </div>
                </div>
                
                <div id="coursediscussion">
                	<div class="title">
                    	<h3>Discussion</h3>
                    </div>
                    
                </div>
            </div>
            
            <div id="courseright">
            	<p>Opinion Section</p>
            </div>
        </div>
{% endblock %}
