{% extends "base.html" %}
<!--For this page, I need you to have this for the nav, where div class="navactive" for courselist:
<div id="nav">
                    <div class="navactive"><a href="/courselist/">Courses</a></div>
                    <div class="navtitle"><a href="/personalpage/">My Page</a></div>
                </div>
-->                
                
{% block content %}
<div id="courselistcontent">
	<div class="current">
    </div>
    
    <div class="comingsoon">
    	<h1>Courses Coming Soon!</h1>
    	<table id="courseTable" class="tablesorter">
        <thead>
        	<tr>
            	<th>Course Title</th>
                <th>Instructor</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<td><a href="/course/glasscourseinfo">How Can We Reach Universal Broadband?</a></td>
                <td>Victor Glass (Director, National Ex. Carrier Asso.)</td>
                <td data-date="01-24-2013">January 24, 2013</td>
                <td><a class="addbutton blue" href="/users/addcourse/1?next=/users/currentlessons/">Add Course</a></td>
            </tr>
        	<tr>
            	<td><a href="/course/cambroncourseinfo/">How Does the Internet Work?</a></td>
                <td>G. Keith Cambron (former CEO, AT&T Labs)</td>
                <td data-date="01-24-2013">January 24, 2013</td>
                <td><a class="addbutton blue" href="/users/addcourse/2?next=/users/currentlessons/">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Do Sattelites Work?</td>
                <td>Alan Young (former CTO, SES North America)</td>
                <td data-date="01-24-2013">January 24, 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td><a href="/course/foxcourseinfo/">How Does Venture Finance Work?</a></td>
                <td>Richard M. Fox (MD, Cross Atlantic Capital Partners)</td>
                <td data-date="01-24-2013">January 24, 2013</td>
                <td><a class="addbutton blue" href="/users/addcourse/3?next=/users/currentlessons/">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Do We Watch Baseball Like a Pro?</td>
                <td>Barry Foote (former baseball star)</td>
                <td data-date="01-31-2013">January 31, 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Can Cars Talk to Each Other?</td>
                <td>Russell Hsing (Professor, Taiwan National Chiao Tung University)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Can We Climb Over the Great Firewall?</td>
                <td>Prateek Mittal (Postdoc, UC Berkeley)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Do We Play Games?</td>
                <td>Jianwei Huang (Professor, Chinese University of Hong Kong)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Does Hair Grow On Our Heads?</td>
                <td>Bill Ju (CEO, Follicals)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>How Does WiFi Work?</td>
                <td>Raj Savoor (Executive Director, AT&T Labs)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>What Is Beyond 4G?</td>
                <td>Adam Drobot (Former President, Telcordia Technologies)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td><a href="/course/ciofficourseinfo/">What Is DSL?</a></td>
                <td>John Cioffi (Founder/Chairman/CEO, ASSIA)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="/users/addcourse/4?next=/users/currentlessons/">Add Course</a></td>
            </tr>
            <tr>
            	<td>What Is the Future of Wireless?</td>
                <td>Wim Sweldons (former President, Alcatel Lucent Wireless)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>What Is Video Streaming?</td>
                <td>Michael Cook (VP, Comcast)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
            <tr>
            	<td>Why Do Numbers Rule Your World?</td>
                <td>Kaiser Fung (VP, Vimeo)</td>
                <td data-date="02-28-2013">February 2013</td>
                <td><a class="addbutton blue" href="#">Add Course</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
