{% extends "base.html" %}

{% block content %}
        
        <div id="aboutcontent">
        	<div id="abouttitle">
            	<div class="search"></div><br />
                <a href="/about/"><div class="menu">What is 3ND?</div></a>
                <a href="/difference/"><div class="menuactive">How is 3ND DIfferent?</div></a>
                <a href="/team/"><div class="menu">About the Team</div></a>
                <a href="#"><div class="menu">Contact Us</div></a>
          	</div>
        	<br />
            <div id="aboutmain">
                <h2>How is 3ND Different From Other Platforms?</h2>
                <br />
    			<table id="differences">
    				<tr>
    					<th></th>
    					<th>Wikipedia</th>
    					<th>Youtube</th>
    					<th>TED Talks</th>
    					<th>Khan</th>
    					<th>Coursera/ EdX/etc.</th>
    					<th>Udacity, etc.</th>
    					<th>3ND</th>
    				</tr>
    				<tr class="odd">
    					<td>Audience</td>
    					<td>General</td>
    					<td>Casual</td>
    					<td>Casual</td>
    					<td>K12</td>
    					<td>College</td>
    					<td>Computer</td>
    					<td>General</td>
    				</tr>
    				<tr class="even">
    					<td>Content Source</td>
    					<td>Crowd</td>
    					<td>Crowd</td>
    					<td>Diverse Experts</td>
    					<td>Khan Academy</td>
    					<td>University</td>
    					<td>University</td>
    					<td>Diverse Experts</td>
    				</tr>
    				<tr class="odd">
    					<td>Length</td>
    					<td>Short</td>
    					<td>Short</td>
    					<td>Short</td>
    					<td>Flexible</td>
    					<td>Long</td>
    					<td>Long</td>
    					<td>Medium</td>
    				</tr>
    				<tr class="even">
    					<td>Video</td>
    					<td>N</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    				</tr>
    				<tr class="odd">
    					<td>Quiz</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    				</tr>
    				<tr class="even">
    					<td>Social</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>Y</td>
    					<td>Y</td>
    					<td>Y</td>
    				</tr>
    				<tr class="odd">
    					<td>Certificate</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>Depends</td>
    					<td>Y</td>
    					<td>Y</td>
    				</tr>
    				<tr class="even">
    					<td>eBook</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>N</td>
    					<td>Y (Coming Soon)</td>
    				</tr>
    				<tr class="odd">
    					<td>Nonprofit</td>
    					<td>Y</td>
    					<td>N</td>
    					<td>Depends</td>
    					<td>Y</td>
    					<td>Depends</td>
    					<td>N</td>
    					<td>Y</td>
    				</tr>
    			</table>
            </div>
        </div>

{% endblock %}

