{% extends "base.html" %}

{% block content %}
        <div id="content">
        	<div id="indexleft">
            	<a href="/about/"><img src="{{ STATIC_URL }}images/about3ndbutton.png" /></a>
            	<img src="{{ STATIC_URL }}images/flowchart.png" /> <br />
                <a href="/users/register/"><img src="{{ STATIC_URL }}images/startnowbutton.png" /></a>
            </div>
            <div id="indexvideos">
            	<div class="block"><img src="{{ STATIC_URL }}images/blocks/howtheinternetworks.png" width="100%" height="100%"/></div>
                <div class="block1"><img src="{{ STATIC_URL }}images/blocks/inventiontoventure.png" width="100%" height="100%"/></div>
                <div class="block1"><img src="{{ STATIC_URL }}images/blocks/whatisdsl.png" width="100%" height="100%"/></div>
                <div class="block1"><img src="{{ STATIC_URL }}images/blocks/americasquestforuniversalbroadbandservices.png" width="100%" height="100%"/></div>
                <div class="block"></div>
                <div class="block"></div>
                
            </div>
            
            <div id="indexpagescroll">
            scroll
            </div>
        </div>
{% endblock %}
