{% extends "base.html" %}

{% block content %}
        <div id="content">
        	<div id="youleft">
            	<div class="youtitle"><h2>My Page</h2></div><br />
                <div class="linkactive"><a href="#">Lessons in Progress</a></div>
                <div class="link"><a href="#">Completed Lessons</a></div>
                <div class="link"><a href="#">My Favorites</a></div>
                <div class="link"><a href="#">Settings</a></div>
                <div class="link"><a href="#">My Certificates</a></div>
            </div>
            <div id="youvideos">
            	<div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div><div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div><div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div><div class="video">
                	<img src="images/smallvideoplaceholder.png" />
                    <p class="title">Title</p>
                    <p class="date">Date</p>
                    <p class="videoprogress">Video Progress</p>
                    <p class="quizprogress">Quiz Progress</p>
                </div>
                <div class="video"></div>
                <div class="video"></div>
                <div class="video"></div>
            </div>
        	<div id="youmemo">
            </div>    
            
        </div>
{% endblock %}