{% extends "base.html" %}

{% block content %}
		    <div id="teamcontent">
                <div id="abouttitle">
                    <div class="search"></div><br />
                    <a href="/about/"><div class="menu">What is 3ND?</div></a>
                    <a href="/team/"><div class="menuactive">About the Team</div></a>
                    <a href="#"><div class="menu">Contact Us</div></a>
                </div>
            
                <h2>Our Team</h2>
                <div id="members">
                        <table>
                            <tr>
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/mungchiang.jpeg" />
                                    <div class="membertext">
                                        <b>Mung Chiang</b><br/> 
                                        Professor
                                    </div>
                                </div>	
                                </td>
                                
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/sangtaeha.jpeg" />
                                    <div class="membertext">
                                        <b>Sangtae Ha</b><br />
                                        Leader
                                    </div>
                                </div>	
                                </td>
                               
                                <td><div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/andrewchoi.png" />
                                    <div class="membertext">
                                        <b>Andrew Choi</b> <br />
                                        Engineer
                                    </div>
                                </div>	
                                </td>
                                
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/brittanyko.jpg" />
                                    <div class="membertext">
                                        <b>Brittany Ko</b> <br />
                                        Engineer
                                    </div>
                                </div>	
                                </td>
            
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/horiaradoi.png" />
                                    <div class="membertext">
                                        <b>Horia Radoi</b> <br />
                                        Engineer
                                    </div>
                                </div>
                                </td>	
                                
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/Allison.jpeg" />
                                    <div class="membertext">
                                        <b>Sunghye Cho</b> <br />
                                        Designer
                                    </div>
                                </div>	
                                </td>
                                
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/christopherbrinton.jpg" />
                                    <div class="membertext">
                                        <b>Chris Brinton</b> <br />
                                        Engineer
                                    </div>
                                </div>	
                                </td>
                                
                                <td>
                                <div class="memberblock">
                                    <img src="{{ STATIC_URL }}images/members/michaelwang.jpg" />
                                    <div class="membertext">
                                        <b>Michael Wang</b> <br />
                                        Engineer
                                    </div>
                                </div>	
                                </td>
                           </tr>
                       </table>
                   </div>                        
               </div>    
{% endblock %}                       